.checked {
  color: orange;
}
a:hover{
  color: black !important;
}
.card {
  margin-top: 50px;
  display: inline-block;
  margin-left: 5%;
}
.container .popover {
  max-width: none !important;
}
.container a :hover {
  cursor: pointer;
}
.container > p{
  font-size: 18px;
  font-weight: 500;
  margin-left: 0px;
}
.card p {
  font-size: 17px;
  font-weight: 450;
}
.card h6 {
  font-weight: 700;
}
.course_img {
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: 18vw;
  height: 11vw;
  margin-right: 30px;
  max-width: 300px;
  max-height: 200px;
  cursor: pointer;
}
.card-title {
  margin: auto;
  height: 20%;
  width: 80%;
}
.container {
  display: inline-flex;
  margin: auto;
}
.container a {
  color: black;
}

@media (max-width: 767px) {
  .course_img {
    width: 40vw;
    height: 20vw;
  }
  .card {
    margin-left: 25%;
  }
}
@media (max-width: 500px) {
  .course_img {
    width: 40vw;
    height: 20vw;
  }
  .card {
    margin-left: 25%;
  }
}
